@import url(../adopet/assets/css/cabecalho/cabecalho.css);
@import url(../adopet/assets/css/principal/principal.css);
@import url(../adopet/assets/css/rodape/rodape.css);


:root{
    --azul: #3772FF;
    --branco: #FFFFFF;
    --goiaba: #FC7071;
    --verde: #36D6AD;
    --fonte1: 'IBM Plex Sans';
    --fonte2: 'Poppins';

}



body {
    background: 
   
        url(./assets/img/Forma1.svg) no-repeat, 
        url(./assets/img/Forma2.svg) 100% 294px no-repeat ,
        url(./assets/img/Ilustração1.svg) no-repeat 45% 37rem;
    
    background-color: var(--azul);
    display: block;
    
}

/* modo tablet */

@media screen and (min-width: 768px) {
    body{
        background-size: 78vw, 11vw, 30vw;
        background-position-y: 0, 16rem, 43rem;
        display: block;
        
    }
    
}

/* notebook */
@media screen and (min-width:1010px) {
    body {
        background-size:58vw, 8vw, 21vw;
        display: block;
    }
    
}

/* desktop */

@media screen and (min-width: 1440px) {
    body{
        background-size: 40vw, 6vw, 22vw;
        background-position-y: 0, 16rem, 49rem;
    }
    
}
@media screen and (min-width: 2560px) {
    body {
        background-size: 34vw, 5vw, 15vw;
    }
    
}