.rodape {
    margin-top: 19rem;
}

.container{
    background-color: var(--verde);
    height: 8vh;
}

.container__texto {
    color: var(--branco);
    
    font-family: var(--fonte2);

    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
 
    .rodape {
        margin-top: 24rem;
    }
}

