.principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 6rem;
}

.principal__logo {
    width: 50vw;
}

.principal__titulo {
    color: var(--branco);

    font-family: var(--fonte1);
    font-size: 26px;

    padding: 2rem 0;
}

.principal__texto {

    color: var(--branco);

    display: block;

    font-family: var(--fonte2);
    font-size: 16px;
    font-weight: 200;

    line-height: 24px;

    margin: 1rem -1rem;

    text-align: center;
}

.principal__texto--tablet {
    display: none;
}

.principal__link {
    color: var(--branco);

    background-color: var(--goiaba);
    border-radius: 6px;
    box-shadow: 0px 3px 8px #0000008a;
    
    font-family: var(--fonte2);
    font-size: 16px;
    font-weight: 700;

    padding: 0.8rem;
    
    text-decoration: none;
    text-align: center;

    width: 100%;
}

.link-1 {
    margin: 1rem;
}

/* tablet */
@media screen and (min-width: 768px) {

    .principal{
        margin-top: 8rem;
                
    }

    .principal__logo {
        width: 25vw;
    }
    
    .principal__titulo {
        font-size: 1.5rem;
    }

    .principal__texto {
        display: none;
    }

    .principal__texto--tablet {
        color: var(--branco);

        display: block;

        font-family: var(--fonte2);
        font-size: 16px;
        font-weight: 200;

        line-height: 24px;

        margin: 0 8rem;

        text-align: center;
    }

    .principal__link {
        width: 35vw;
    }


}   

/* laptop */

@media screen and (min-width:1010px) {
    
    
}

/* desktop */
@media screen and (min-width:1440px) {
    .principal {
        padding: 6rem;
       
    }
    .principal__logo{
        width: 15vw;
    }
    .principal__texto--tablet {
        width: 25rem;
    }
    .principal__link {
        width: 19rem;
        padding: 1.2rem;
    }
    
}